
#ph-wrapper .CodeMirror.CodeMirror {
	position: absolute;
	border: 1px solid #CCCCCC;
	top: 90px;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
}

#ph-wrapper .CodeMirror.CodeMirror,
#ph-wrapper #input textarea {
	font-family: "Ubuntu Mono", "UbuntuMono", "Lucida Console", Consolas, "Lucida Grande", "Liberation Mono", Menlo, Courier, monospace !important;
}

#ph-wrapper .CodeMirror pre {
	line-height: 1.5;
}

#ph-wrapper .CodeMirror-scroll {
	padding: 30px;
}

#ph-wrapper .cm-header-1 {
	font-size: 2em;
}

#ph-wrapper .cm-header-2 {
	font-size: 1.75em;
}

#ph-wrapper .cm-header-3 {
	font-size: 1.5em;
}

#ph-wrapper .cm-header-4 {
	font-size: 1.3em;
}

#ph-wrapper .cm-header-5 {
	font-size: 1.2em;
}

#ph-wrapper .cm-header-6 {
	font-size: 1.15em;
}

#ph-wrapper .cm-quote {
	color: #90A959;
	font-style: italic;
	margin: 0;
	padding-left: 3em;
	border-left: .5em #EEEEEE solid;
}

