/*
 Sweet page loader, thanks Chris!
 http://codepen.io/cmslewis/pen/vosDj
*/

#init-page-loader {
	z-index: 9999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	width: 100vw;
	height: 100%;
	height: 100vh;
	background-color: #FAFAFA;
	background-color: rgba(255,255,255,.9);
}

.loading-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.dot {
	background: black;
	/*border-radius : 100%;*/

	color: white;
	height: 8px;
	line-height: 8px;
	text-align: center;
	width: 8px;
}

.dotOne {
	-webkit-animation: dotOneKeyframes 5s ease infinite;
	background: #67BCE6;
	position: absolute;
	top: 0;
	left: 0;
}

.dotTwo {
	-webkit-animation: dotTwoKeyframes 5s ease 0.4166666666666s infinite;
	background: #67BCE6;
	position: absolute;
	top: 0;
	left: 14px;
}

.dotThree {
	-webkit-animation: dotThreeKeyframes 5s ease 0.83333333333s infinite;
	background: #67BCE6;
	position: absolute;
	top: 14px;
	left: 14px;
}

@-webkit-keyframes dotOneKeyframes {
	0% {
		top: 0;
		left: 0;
	}
	8.3333333333% {
		top: 14px;
		left: 0;
	}
	16.6666666666% {
	}
	25% {
		top: 14px;
		left: 0;
	}
	33.3333333333% {
		top: 14px;
		left: 14px;
	}
	41.6666666666% {
	}
	50% {
		top: 14px;
		left: 14px;
	}
	58.3333333333% {
		top: 0;
		left: 14px;
	}
	66.6666666666% {
	}
	75% {
		top: 0;
		left: 14px;
	}
	83.3333333333% {
		top: 0;
		left: 0;
	}
	91.6666666666% {
	}
	100% {
	}
}

@-webkit-keyframes dotTwoKeyframes {
	0% {
		top: 0;
		left: 14px;
	}
	8.3333333333% {
		top: 0;
		left: 0;
	}
	16.6666666666% {
	}
	25% {
		top: 0;
		left: 0;
	}
	33.3333333333% {
		top: 14px;
		left: 0;
	}
	41.6666666666% {
	}
	50% {
		top: 14px;
		left: 0;
	}
	58.3333333333% {
		top: 14px;
		left: 14px;
	}
	66.6666666666% {
	}
	75% {
		top: 14px;
		left: 14px;
	}
	83.3333333333% {
		top: 0;
		left: 14px;
	}
	91.6666666666% {
	}
	100% {
	}
}

@-webkit-keyframes dotThreeKeyframes {
	0% {
		top: 14px;
		left: 14px;
	}
	8.3333333333% {
		top: 0;
		left: 14px;
	}
	16.6666666666% {
	}
	25% {
		top: 0;
		left: 14px;
	}
	33.3333333333% {
		top: 0;
		left: 0;
	}
	41.6666666666% {
	}
	50% {
		top: 0;
		left: 0;
	}
	58.3333333333% {
		top: 14px;
		left: 0;
	}
	66.6666666666% {
	}
	75% {
		top: 14px;
		left: 0;
	}
	83.3333333333% {
		top: 14px;
		left: 14px;
	}
	91.6666666666% {
	}
	100% {
	}
}

/*
Another excellent loading animation courtesy of:
 http://codepen.io/lesbaa/
 Thanks!
*/
.loader-group {
	position: relative;
	display: block;
	line-height: 16px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 80px;
}

.bigSqr {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	-webkit-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	transform-origin: bottom left;
	-webkit-animation: bigSqrShrink 1s linear infinite;
	animation: bigSqrShrink 1s linear infinite;
}

.square {
	position: absolute;
	width: 20px;
	height: 20px;
	background: #FF9900;
}

.first {
	left: 0;
	top: 20px;
}

.second {
	left: 20px;
	top: 20px;
	-webkit-animation: drop2 1s linear infinite;
	animation: drop2 1s linear infinite;
}

.third {
	left: 0;
	top: 0;
	-webkit-animation: drop3 1s linear infinite;
	animation: drop3 1s linear infinite;
}

.fourth {
	left: 20px;
	top: 0;
	-webkit-animation: drop4 1s linear infinite;
	animation: drop4 1s linear infinite;
}

.loader-group .text {
	line-height: 16px;
	color: #FF9900;
	display: block;
	margin: 10px auto;
	padding: 3px;
}

@-webkit-keyframes bigSqrShrink {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	90% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}

@keyframes bigSqrShrink {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	90% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
}

@-webkit-keyframes drop2 {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	25% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes drop2 {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	25% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@-webkit-keyframes drop3 {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	50% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes drop3 {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	50% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@-webkit-keyframes drop4 {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	75% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}

@keyframes drop4 {
	0% {
		-webkit-transform: translateY(-50px);
		transform: translateY(-50px);
	}
	75% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
	100% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}
}
