#sideNav {
	z-index: 6;
	color: #FAFCFE;
	background-color: #0072C6;
	position: absolute;
	float: left;
	clear: none;
	left: 0;
	bottom: 0;
	top: 0;
	width: 320px;
	min-height: 900px;
	max-height: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Console", "Lucida Grande", sans-serif;
}

#sideNav .header,
#sideNav .logo,
#sideNav .text {
	display: block;
	text-align: center;
	margin: auto;
}

#sideNav .header {
	padding-top: 40px;
	padding-right: 17px;
}

#sideNav .text {
	font-size: 20px;
	line-height: normal;
}

#sideNav .text small {
	font-size: 12px;
	line-height: normal;
}

#ph-nav {
	position: absolute;
	/*background-color: #1C5BA2;*/
	/*background-color: transparent;*/
	top: 0;
	bottom: 0;
	left: 0;
	width: 337px;
	overflow: auto;
}

#ph-nav a {
	color: #F5F5F5 !important;
}

#ph-nav a:hover {
	color: #FAFAFA !important;
	text-decoration: underline;
}

#ph-nav a.active:hover {
	text-decoration: none;
}

#ph-nav a:active {
	color: #FFFFFF !important;
}

#ph-nav hr {
	display: block;
	color: #FFFFFF;
	height: 1px;
	margin: 0;
	padding: 0;
	border: none;
	border-top: 1px solid;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	opacity: .2;
}

#ph-nav ul {
	margin: 0;
}

#ph-nav .nav {
	/*padding-right: 17px;*/
}

#ph-nav ul,
#ph-nav li {
	padding-left: 0;
}

#ph-nav li a {
	width: 100%;
	display: block;
	position: relative;
}

#ph-nav li li > a {
	font-size: 15px;
	padding: 10px 20px;
}

#ph-nav .ph-page-link,
#ph-nav .ph-rabbit-hole {
	background-color: #133E6F;
}

#ph-nav .ph-page-link a {
	color: #FAFCFE;
	font-size: 14px;
	padding: 10px 30px;
}

#ph-nav .ph-rabbit-hole {
	padding-bottom: 15px;
	list-style-type: none;
	text-align: right;
}

#ph-nav .ph-rabbit-hole + .ph-sub-parent {
	margin-top: -15px;
}

#ph-nav .ph-rabbit-hole a {
	/*color: #133E6F !important;
	background-color: #FAFAFA;*/
	background-color: #133E6F;
	color: #FAFAFA !important;
	font-family: "Ubuntu Mono", "UbuntuMono", "Lucida Console", Consolas, "Lucida Grande", "Liberation Mono", Menlo, Courier, monospace !important;
	font-size: 15px;
	border: 1px solid transparent;
	border-right-color: #999;
	border-right-color: rgba(255,255,255,.5);
	margin: 0 auto;
	/*padding: 10px 20px;*/
	max-width: 80%;
}

#ph-nav .active {
	font-weight: bold;
	text-shadow: 0 1px 0 #133E6F;
	/*display: inline-block;*/
}

#ph-nav .ph-rabbit-hole .active {
	border-color: #F5F5F5;
	border-color: rgba(255, 255, 255, .9);
	font-weight: normal;
}

#ph-nav .active > span {
	position: absolute;
	right: 17px;
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FAFCFE;
}

#ph-nav .ph-rabbit-hole .active > span {
	display: none;
}

#ph-nav .ph-section-link {
	font-size: 24px;
	margin: 0;
	padding: 20px;
	line-height: 1.3;
}

#ph-nav :hover > span:after {
	text-decoration: none;
	font-weight: bold;
}

#ph-nav .ph-parent a span:after,
#ph-nav .ph-sub-parent a span:after {
	content: "\002B";
	position: absolute;
	right: 1em;
	margin-right: 1em;
	line-height: 1.5;
	text-shadow: 0 1px 0 #133E6F;
}

#ph-nav .active > span:after {
	visibility: hidden;
	opacity: 0;
}
