
#buttons {
  /*z-index:1;*/
  width:100%;
  margin: 10px auto 10px;
  text-align:center;
  position:relative;
  /*overflow:hidden;*/
  /*bottom: 100%;*/
}

.fullPage #buttons  {
  max-width: 960px;
}

.btn{
  /*z-index:1;*/
  display: inline-block;
  position: relative;
  color:#FAFCFE;
  cursor:pointer;
  line-height:1.5;
  letter-spacing: 1px;
  float: none;
  border-radius:3px;
  /*margin:5px 20px;*/
  border: 1px dashed transparent;
  border-bottom:1px solid #222;
  width:auto;
  margin: 10px;
}

.btn.loading {
  border-color: #BBB;
  border-style: dashed;
}

.btn > span {
  display:block;
  text-align:center;
  padding:5px 13px
}

#toggleButton {
  background-color: #555;
  color:#FAFCFE;
}

#toggleButton:active {
  background-color:#FAFCFE;
  color:#555;
  border-color: #555;
}

#cheatSheetButton {
  background-color: #FAFCFE;
  color: #555;
  border-color: #555;
}

#saveButton{
  /*width:auto;*/
  /*background-color:#4183D7;*/
  background-color: #FAFCFE;
  color:#4183D7;
  border-color: #4183D7;
}

#saveButton:active{
  background-color:#446CB3;
  color: #FAFCFE;
}

#createButton{
  background-color:#FAFCFE;
  color:#1A3557;
  border-color: #1A3557;
  /*background-color:#00BA6A;*/
  /*background-color:#8800BA;*/
  /*color:#222*/
  /*width:auto;*/
}

#createButton:active{
  color: #FAFCFE;
  background-color: #3264A4;
  /*background-color: #0E870E;*/
  /*background-color:#943494;*/
  /*color:#FAFCFE*/
}

