@charset "UTF-8";

html{
  -moz-osx-font-smoothing:greyscale;
  -webkit-font-smoothing:subpixel-antialiased;
  zoom:1;
  *zoom:1;
  font-size: 100%;
}

body{
  margin:0;
  padding:0;
  border:0;
  width:100%;
  height:100%;
  position: relative;
}

::-moz-selection{
  background-color:#4183D7;
  color: #FAFCFE;
}

::selection{
  background-color:#4183D7;
  color: #FAFCFE;
}

#wrapper *, #wrapper :after, #wrapper :before{
  -webkit-box-sizing:border-box!important;
  -moz-box-sizing:border-box!important;
  box-sizing:border-box!important
}

.loading, .nochange{
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  opacity:.35;
  pointer-events:none
}

#wrapper a {
  text-decoration:none;
}

#wrapper a:active, #wrapper a:hover, #wrapper a:focus {
  outline:0
}

#wrapper {
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Console","Lucida Grande",sans-serif;
  font-size:18px;
  overflow:hidden;
  min-width:100%;
  position: relative;
}

#content {
  position:relative;
  left: 300px;
  top:0;
  bottom:0;
  font-size: 100%;
  height:100%;
  min-height:820px;
  max-height:100%;
  float:left;
  clear:none;
}

#content.fullPage{
  right:auto;
  /*left:auto;*/
  bottom:auto;
  overflow:visible
}

#contentWrap{
  opacity:1;
  position:relative;
  overflow:visible;
  min-height:640px;
  /*height:85%;*/
  margin:10px 20px 0;
  bottom:0;
  left:0;
  right:0;
}

.fullPage #contentWrap{
  top:auto;
  bottom:auto;
  right:auto;
  left:auto;
  margin:20px auto;
  min-height:min-content;
  height:100%;
  width:660px;
}

#wrapper input[type="text"],
#wrapper select,
.modalOverlay input[type="text"],
.modalOverlay select {
  background-color: #FAFCFE;
  color: #333;
  font-size: 2em;
  border: 1px solid #CCC;
  padding: .5em .33em;
  outline: 0;
  float: none;
  font-family: inherit;
  display: block;
  /*line-height: 1;*/
  /*margin-bottom: 1em;*/
  /*text-align: left;*/
}

#titleFieldLabel {
  /*margin:5px 20px;*/
  /*float: left;
  clear: both;*/
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

#wrapper #titleField {
  width: 100%;
}

.fullPage #saveButton,
.fullPage #createButton,
.fullPage #titleFieldLabel,
.fullPage #input,
.fullPage #cheatSheetButton,
.fullPage #cheatSheet {
  display:none;
}

#input{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:45%;
  height:100%;
  overflow:hidden;
  font-size:14px;
  color: #555;
}

#output{
  text-rendering:optimizeLegibility;
  position:absolute;
  color:#555;
  /* This will hide the scrollbar on most **normal** browsers */
  right:-17px;
  left:52%;
  top:0;
  bottom:0;
  overflow:auto;
  padding:10px;
  line-height:1.5;
  max-width: 640px;
  width: 100%;
  border: 4px dashed transparent;
}

.fullPage #output{
  position:relative;
  background-color:transparent;
  border-color:transparent;
  left:auto;
  top:auto;
  right:auto;
  bottom:auto;
  overflow:visible;
  padding-left: 20px;
}

.fullPage #contentWrap,
.fullPage #output {
  margin-left: 0;
  margin-right: 0;
}

#cheatSheet {
  height: 300px;
  padding: 20px;
}

#wrapper.loading,
#content.loading,
#contentWrap.loading,
#input.loading,
#output.loading {
  border-color: #BBB;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  opacity: .35;
}

@media all and (max-width:1024px){
  #content{
    min-width:fit-content
  }

  #input{
    display:block;
    padding-left:10px;
    width:auto;
    right:0
  }

  #output{
    display:none
  }

  .fullPage #contentWrap,
  .fullPage #buttons {
    max-width:720px;
    width:100%
  }

  .fullPage #output{
    display:block
  }
}
