
/**
 * Thanks to codrops for the quick and easy inspiration for cross-browser CSS overlay + modal.
 * http://tympanus.net/codrops/2013/11/07/css-overlay-techniques/
 */

.modalOverlay{
  position:fixed;
  top:0;
  left:0;
  min-width:100%;
  min-height:100%;
}

.modalBg{
  /*z-index:10;*/
  position:absolute;
  background-color:#222;
  top:0;
  left:0;
  bottom:0;
  right:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  opacity:.75;
}

.modal {
  min-width:25em;
  max-height: 45em;
  position: fixed;
  top: 10%;
  left: 20%;
  right: 20%;
  bottom: 10%;
  background-color:#FAFAFA;
  border: 3px solid;
  padding: 40px;
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Console","Lucida Grande",sans-serif;
  /*z-index:11;*/
  text-align: left;
}

.modal .header {
  position: relative;
  text-align:left;
  font-size:2.333em;
  text-transform: lowercase;
}

.modal .header > h2 {
  margin: 0;
  padding-bottom: 20px;
}

.modal label{
  font-size: 1.333em;
  position: relative;
  text-align: left;
}

.modal select:before {
  position: relative;
  display: inline;
  content: "Choose parent category:";
}

.modal .btn {
  position: relative;
  font-size:24px;
  line-height: 1;
  margin:18px auto;
  float: none;
}

.okButton {
  /*background-color:#188EA8;*/
  color:#FAFAFA;
  /*background-color: #F62459;*/
  background-color: #4183D7;
  font-weight: bold;
  width: 50%;
}

.okButton > span {
  padding: 24px 16px;
}

.cancelButton {
  background-color:#FAFAFA;
  /*color:#0E778E;*/
  /*color:#F62459;*/
  color: #446CB3;
  border:1px solid;
  width: 30%;
}

.cancelButton > span {
  padding:12px 16px;
}

.modalButtons {
  text-align:center;
  position:relative;
  /*padding-top: 20px;*/
  /*bottom:20px;*/
}
