html{
  overflow-y:scroll;
  -webkit-font-smoothing:subpixel-antialiased;
  -moz-osx-font-smoothing:greyscale;
  zoom:1;
  *zoom:1;
  font-size: 100%;
}

body{
  margin:0;
  padding:0;
  border:0;
  width:100%;
  height:100%
}

::-moz-selection{
  background-color:#5B0426;
  color: #FAFAFA;
}

::selection{
  background-color:#5B0426;
  color: #FAFAFA;
}

#wrapper *, #wrapper :after, #wrapper :before{
  -webkit-box-sizing:border-box!important;
  -moz-box-sizing:border-box!important;
  box-sizing:border-box!important
}

.loading, .nochange{
  opacity:.35;
  pointer-events:none
}

#wrapper {
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Console","Lucida Grande",sans-serif;
  font-size:18px;
  overflow:hidden;
  min-width:100%;
}

#content {
  top: 1em;
  min-width:100%;
  font-size: 100%;
  position:relative;
  min-height:720px;
  max-height:100%;
  height:100%
}

#content.fullPage{
  width:100%;
  min-height:min-content;
  right:auto;
  left:auto;
  bottom:auto;
  overflow:visible
}

#contentWrap{
  opacity:1;
  position:absolute;
  color:#444;
  overflow:hidden;
  min-height:540px;
  height:85%;
  margin:20px;
  top:50px;
  bottom:0;
  left:0;
  right:0;
}

.fullPage #contentWrap{
  position:relative;
  top:auto;
  bottom:auto;
  right:auto;
  left:auto;
  margin:20px auto;
  overflow:visible;
  min-height:min-content;
  max-height:100%;
  height:100%;
  width:100%;
  max-width:800px;
}

#buttonsWrap{
  z-index:1;
  width:100%;
  margin:0 auto;
  text-align:center;
  position:relative;
  overflow:hidden
}

.btn{
  z-index:1;
  position:relative;
  color:#FAFAFA;
  cursor:pointer;
  line-height:1.5;
  float:right;
  border-radius:4px;
  margin:5px 20px;
  border:1px solid transparent;
  text-shadow:0 1px 0 rgba(0,0,0,.35);
  text-shadow:0 1px 0 #404040;
  border-bottom:2px solid #999;
  width:25%
}

.btn:active{
  border-bottom-color:#b4b4b4
}

.btn.loading:before{
  position:absolute;
  display:block;
  left:-24px;
  top:25%;
  width:16px;
  height:16px
}

.btn>span{
  display:block;
  text-align:center;
  padding:5px 13px
}

#toggler{
  background-color: #555;
  letter-spacing:1px;
  float:left;
  clear:left;
  width:auto;
  color:#FAFAFA;
  font-weight:700;
}

#toggler:active{
  background-color:#FAFAFA;
  color:#555;
  border-color: #555;
}

#toggler.loading:before{
  content:url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///xEREcbGxk5OThEREWxsbIqKipmZmSH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==)
}

#save{
  width:auto;
  background-color:#00BA6A;
  /*background-color:#4183D7*/
}

#save:active{
  background-color: #0E870E;
  /*background-color:#446CB3*/
}

#save.loading:before{
  content:url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///yqqF8vqx2G/UyqqF3vKcJbUjaPamyH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==)
}

#create{
  width:auto;
  background-color:#943494;
  /*color:#222*/
}

#create:active{
  background-color:#8800BA;
  /*color:#FAFAFA*/
}

#create.loading:before{
  content:url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///wBgv8LY70KJzwBgv2Kc14Kw35K64yH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==)
}

#deleteButton{
  background-color: #BBB;
  color: #EFEFEF;
  /*background-color:#FF5F54;*/
  float:right;
  width:auto
}

#deleteButton:active{
  background-color: #999;
  /*background-color:#B23229*/
}

#deleteButton.loading:before{
  content:url(data:image/gif;base64,R0lGODlhEAAQAPIAAP///6oXF+rHx79TU6oXF8pwcNSNjdqbmyH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==)
}

#title{
  padding:3px 5px;
  line-height:1.5;
  background:#FAFAFA;
  color:#441B30;
  border:1px solid #ACE;
  border-radius:4px
}

#input{
  opacity:1;
  text-rendering:optimizeSpeed;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  width:50%;
  height:100%;
  overflow:auto;
  font-size:14px;
  display:block
}

.fullPage #input{
  opacity:0;
  display:none
}

#output{
  opacity:1;
  text-rendering:optimizeLegibility;
  position:absolute;
  color:#555;
  right:-17px;
  left:50%;
  top:0;
  bottom:0;
  overflow:auto;
  padding:10px 10px 10px 20px;
  line-height:1.5;
  display:block
}

.fullPage #output{
  position:relative;
  background-color:transparent;
  border-color:transparent;
  left:auto;
  top:auto;
  right:auto;
  bottom:auto;
  overflow:visible
}

@media all and (max-width:1024px){
  #content{
    min-width:fit-content
  }

  #input{
    display:block;
    padding-left:10px;
    width:auto;
    right:0
  }

  #output{
    display:none
  }

  .fullPage #contentWrap{
    max-width:720px;
    width:100%
  }

  .fullPage #input{
    display:none
  }

  .fullPage #output{
    display:block
  }

}

.CodeMirror.CodeMirror{
  transform:translateZ(0);
  position:absolute;
  border:1px solid #CCC;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:auto;
  height:auto
}

.CodeMirror pre{
  line-height:1.5
}

.CodeMirror-scroll{
  padding:30px
}

.cm-header-1{
  font-size:2em
}

.cm-header-2{
  font-size:1.75em
}

.cm-header-3{
  font-size:1.5em
}

.cm-header-4{
  font-size:1.3em
}

.cm-header-5{
  font-size:1.2em
}

.cm-header-6{
  font-size:1.15em
}

.cm-quote{
  color:#90A959;
  font-style:italic;
  margin:0;
  padding-left:3em;
  border-left:.5em #EEE solid
}

#output a{
  color:#0645ad;
  text-decoration:none
}

#output a:visited{
  color:#0b0080
}

#output a:hover{
  color:#06e
}

#output a:active{
  color:#faa700
}

#output a:focus{
  outline:dotted thin
}

#output a:active,#output a:hover{
  outline:0
}

#output p{
  margin: 1em 0
}

#content img{
  max-width:100%
}

#wrapper h1,#wrapper h2,#wrapper h3,#wrapper h4,#wrapper h5,#wrapper h6{
  font-weight:200;
  line-height:1;
}
#output h1, #output h2, #output h3, #output h4, #output h5, #output h6 {
  color:#111;
}

#wrapper h4,#wrapper h5,#wrapper h6{
  font-weight:700
}

#wrapper h1{
  font-size:2.5em
}

#wrapper h2{
  /*font-size:2em;*/
  padding-bottom:5px;
  border:none;
  border-bottom:1px solid;
  border-bottom-color:#DDD;
  border-bottom-color:rgba(0,0,0,.1)
}

#wrapper h3{
  font-size:1.5em
}

#wrapper h4{
  font-size:1.2em
}

#wrapper h5{
  font-size:1em
}

#wrapper h6{
  font-size:.9em
}

#output blockquote{
  font-size:.925em;
  color:#999;
  margin:0;
  padding-left:3em;
  border-left:.5em #EEE solid
}

#wrapper hr{
  display:block;
  height:8px;
  margin:2em 0;
  padding:0;
  border:none;
  border-top:8px dotted;
  color:#DFDFDF;
}
/*
#wrapper hr{
  display:block;
  height:2px;
  margin:1em 0;
  padding:0;
  border:none;
  border-top:medium double #777;
  color:#777;
  text-align:center
}

#wrapper hr:after{
  content:"§";
  display:inline-block;
  position:relative;
  top:-.7em;
  font-size:1.5em;
  padding:0 .25em;
  background:#FFF
}*/

#output code,#output pre{
  color:#000;
  font-family:"Ubuntu Mono",Consolas,"Liberation Mono",Menlo,Courier,monospace;
  font-size:.94em;
  border-radius:3px;
  background-color:#FAFAFA;
  border:1px solid #DDD
}

#output pre{
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
  padding:10px
}

#output pre code{
  border:0!important;
  background:0 0!important;
  line-height:1.3em
}

#output code{
  padding:2px 3px
}

#output sub,#output sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline
}

#output sup{
  top:-.5em
}

#output sub{
  bottom:-.25em
}

#output ol,#output ul{
  margin:1em 0;
  padding:0 0 0 2em
}

#output li p:last-child{
  margin:0
}

#output dd{
  margin:0 0 0 2em
}

#content img{
  border:0;
  -ms-interpolation-mode:bicubic;
  vertical-align:middle
}

#content table{
  border-collapse:collapse;
  border-spacing:0
}

#output td,#output th{
  vertical-align:top;
  padding:4px 10px;
  border:1px solid #bbb
}

#output tr:nth-child(even) td,tr:nth-child(even) th{
  background:#eee
}

/**
 * Special thanks to codrops for the quick and easy inspiration for cross-browser CSS overlay + modal.
 * http://tympanus.net/codrops/2013/11/07/css-overlay-techniques/
 */

.contentOverlay{
  opacity:0;
  display:block;
  position:fixed;
  top:0;
  left:0;
  min-width:100%;
  min-height:100%;
  z-index:10;
}

.modalBg{
  background-color:#222;
  position:absolute;
  display:block;
  top:0;
  left:0;
  bottom:0;
  right:0;
  opacity:.75;
  z-index:10
}

.contentModal {
  display:block;
  min-width:25em;
  max-width:30em;
  /*height:500px;*/
  /*   height: auto; */
  max-height: 50em;
  position:fixed;
  top:10%;
  left:50%;
  /*margin-top:-20em;*/
  margin-left:-15em;
  background-color:#FAFAFA;
  border: 3px solid;
  padding-left:2em;
  padding-right:2em;
  border-radius:5px;
  font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue","Helvetica","Arial","Lucida Console","Lucida Grande",sans-serif;
  z-index:11;
}

.contentModal .header {
  position: relative;
  text-align:left;
  font-size:2.67em;
  text-transform: lowercase;
}

.contentModal label{
  font-size: 1.5em;
  position: relative;
  /*display:block;*/
  /*   text-align:left; */
  /*   padding:.167em; */
  /*   padding-top: 0; */
  /* 	padding-right:.167em; */
  /*width:80%;*/
  /*margin: 0 auto;*/
  text-align: left;
  /*font-family:Georgia,"Palatino Linotype","Times New Roman",Times,serif;*/
}

.contentModal label[for='modalInput'] {
  text-align: left;
}

#modalInput {
  color: #188EA8;
  font-size: 2em;
  border: 1px solid;
  padding: 0 .33em;
  outline: 0;
  float: none;
  font-family: inherit;
  display: block;
  line-height: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.contentModal .btn {
  position: relative;
  color:#FAFAFA;
  font-size:24px;
  line-height: 1;
  padding:.67em;
  margin:6px auto;
  float: none;
  width: 70%;
}

#okButton {
  background-color:#188EA8;
  /*   background-color: #F62459; */
  font-weight: bold;
}

#cancelButton {
  background-color:#FAFAFA;
  color:#0E778E;
  border:1px solid;
}

.modalButtons {
  text-align:center;
  position:relative;
  padding-top: 20px;
  bottom:20px;
}
