#ph-buttons {
	width: 100%;
	max-width: 960px;
	max-width: calc(100% - 320px);
	margin: 50px auto 0;
	text-align: center;
	position: relative;
	display: block;
}

.ph-btn,
.ph-edit-btn {
	font-style: normal;
	border-radius: 3px;
}

.ph-toggle-editor {
	position: absolute;
	left: 385px; /* 390px - 5px padding left */
	top: 0;
	cursor: pointer;
	display: inline-block;
	/*padding-left: 5px;*/
	border: none;
	/*width: 160px;*/
	text-align: left;
	font-weight: 200;
	/*text-decoration: underline!important;*/
	border-bottom: 2px solid transparent;
}

.ph-toggle-editor:hover {
	border-bottom-color: inherit;
}

.ph-edit-btn {
	margin: 10px;
	padding: 10px 20px;
}

.ph-edit-btn i {
	display: inline-block;
	font-style: normal;
}

.fullPage .ph-edit-btn {
	display: none;
}

.ph-edit-btn.ph-save {
	/*background-color: #454545;*/
	color: #00B16A!important;
	border: 1px solid;
}

.ph-edit-btn.ph-save i.icon {
	/*color: #FFFFFF;*/
}

.ph-edit-btn.ph-cheatsheet i.icon {
	color: #454545;
}
