#ph-buttons {
	position: relative;
	float: right;
	clear: right;
	overflow: hidden;
	margin: 10px 0;
}

.ph-edit-btn,
.ph-btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	clear: none;
	margin: 0 0 0 20px;
	border: 1px solid;
	font-weight: 700;
	font-style: normal;
	/*font-size: 1em;*/
	/*border-radius: 6px;*/
	/*font-size: 15px;*/
	padding: 10px 20px;
	text-align: center;
}

.ph-edit-btn i {
	display: inline-block;
	font-style: normal;
}

#ph-wrapper #ph-toggle-editor {
	/*border-radius: 5px;*/
	font-weight: 300;
	font-size: 15px;
	padding: 5px 10px;
	/*float: left;*/
	color: #454545;
	/*border-color: transparent;*/
	background-color: #FFFFFF;
}

#ph-wrapper #ph-toggle-editor:active {
	color: #FFFFFF;
	background-color: #454545;
	/*border-color: #454545;*/
}

#ph-buttons #ph-create {
	float: right;
	/*color: #FF9000;*/
	border-color: transparent;
	background-color: #FFFFFF;
	text-align: center;
	margin-right: 10px;
}

#ph-buttons #ph-create:active {
	border-color: #0072C6;
}

#ph-buttons #ph-save {
	float: right;
	color: #FFFFFF;
	background-color: #00B16A;
}

#ph-buttons #ph-save:active {
	color: #00B16A;
	border-color: #00B16A;
	background-color: #FFFFFF;
}

.fullPage .ph-edit-btn {
	display: none;
}
