@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic|Roboto:300,700");
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'stroke7pixeden';
	src: url('/kj/kx7/PublicHealth/SiteAssets/Fonts/stroke7pixeden.eot?b2icvj');
	src: url('/kj/kx7/PublicHealth/SiteAssets/Fonts/stroke7pixeden.eot?#iefixb2icvj') format('embedded-opentype'),
	url('/kj/kx7/PublicHealth/SiteAssets/Fonts/stroke7pixeden.woff?b2icvj') format('woff'),
	url('/kj/kx7/PublicHealth/SiteAssets/Fonts/stroke7pixeden.ttf?b2icvj') format('truetype'),
	url('/kj/kx7/PublicHealth/SiteAssets/Fonts/stroke7pixeden.svg?b2icvj#stroke7pixeden') format('svg');
}
