html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
	zoom: 1;
	*zoom: 1;
	font-size: 100%;
	min-width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	position: relative;
	font-weight: 300;
}

::-moz-selection {
	background-color: #EDC2F0;
	color: #444444;
}

::selection {
	background-color: #EDC2F0;
	color: #444444;
}

#ph-wrapper {
	position: relative;
	transition: height .05s ease-out;
	transform: translateZ(1px);
	color: #000000;
	font-size: 20px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
	line-height: 1;
}

#ph-wrapper.fullPage {
	max-width: 1440px;
	margin: 50px auto;
}

#ph-wrapper *,
#ph-wrapper :after,
#ph-wrapper :before {
	box-sizing: border-box;
}

.loading {
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";*/
	opacity: .35;
	pointer-events: none;
	cursor: default;
}

#ph-wrapper input[type="text"],
#ph-wrapper select {
	/*background-color: #FAFCFE;*/
	box-sizing: content-box;
	color: #555555;
	font-size: 1em;
	border: none;
	border-bottom: 2px solid #CCCCCC;
	padding: .5em .33em;
	outline: 0;
	float: none;
	font-family: inherit;
	display: block;
	width: 400px;
	font-weight: 200;
}

#ph-wrapper strong {
	font-weight: 700;
}

#ph-wrapper, #ph-wrapper h1, #ph-wrapper h2, #ph-wrapper h3, #ph-wrapper h4, #ph-wrapper h5, #ph-wrapper h6 {
	font-family: "Roboto", "Segoe UI Light", "Segoe UI", "Segoe", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", sans-serif;
	color: #333333;
}

#ph-wrapper a {
	color: #0072C6;
	text-decoration: none;
}

#ph-wrapper a:active,
#ph-wrapper a:hover,
#ph-wrapper a:focus {
	outline: 0;
}

/*#ph-wrapper a:active {
	transition: color .03s ease-out;
}*/

#ph-content {
	position: relative;
	top: 0;
	bottom: 0;
	font-size: 100%;
	height: 100%;
	width: 100%;
	float: left;
	clear: none;
	overflow: hidden;
	padding-left: 40px;
	padding-right: 40px;

}

.fullPage #ph-content {
	right: auto;
	bottom: auto;
	overflow: visible;
	max-width: calc(100% - 350px);
}

#ph-title {
	display: inline-block;
	vertical-align: middle;
	opacity: 1;
	font-size: 1.5em;
	border: none;
	border-bottom: 4px dashed transparent;
	outline: 0;
	padding: 10px 20px;
	text-align: center;
	margin: 20px auto;
}

#ph-title.ph-cm:hover {
	border-bottom-color: #777777;
}

#ph-title.ph-cm:focus {
	color: #777777;
	border-bottom-color: #F62459;
}

.fullPage #ph-title {
	text-align: left;
	font-size: 2.5em;
	padding: 0;
}

#ph-contentWrap {
	opacity: 1;
	position: relative;
	overflow: visible;
	min-height: 640px;
	margin: 10px 0 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.fullPage #ph-contentWrap {
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	margin: 20px auto;
	height: 100%;
	/*max-width: 800px;*/
	max-width: 100%;
	width: auto;
}

#ph-input {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 45%;
	height: 100%;
	overflow: hidden;
	font-size: 14px;
	/*color: #555555;*/
}

.fullPage #ph-input {
	display: none;
}

#ph-output {
	position: absolute;
	/* This will hide the scrollbar on most **normal** browsers */
	right: -17px;
	left: 48%;
	top: 0;
	bottom: 0;
	overflow: auto;
	padding: 10px;
	line-height: 1.5;
	/*max-width: 640px;*/
	/*width: 100%;*/
	border: 4px dashed transparent;
	white-space: normal;
}

.fullPage #ph-output {
	position: relative;
	background-color: transparent;
	border-color: transparent;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	overflow: visible;
	/*padding-left: 20px;*/
	/*max-width: 900px;*/
	max-width: 100%;
	padding-left: 0;
}

.ph-modified-date {
	text-align: right;
	/*float: right;*/
	/*margin-top: -24px;*/
	/*font-style: italic;*/
	color: #BBBBBB;
}

.fullPage .ph-modified-date {
	margin-top: 0;
}

.fullPage #ph-contentWrap {
	margin-left: 0;
	margin-right: 0;
}

#ph-wrapper .loading {
	border-color: #BBBBBB;
	/*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";*/
	opacity: .35;
}

.link, .ph-btn {
	font-style: normal;
}

@media screen and (max-width: 1024px) {
	#ph-input {
		display: block;
		width: auto;
		right: 0;
	}

	#ph-output {
		display: none;
	}

	.fullPage #ph-contentWrap,
	.fullPage #ph-buttons {
		max-width: 640px;
		width: 100%;
	}

	.fullPage #ph-output {
		display: block;
	}
}
