#ph-side-nav {
	will-change: height;
	transform: translate3d(0, 0, 0);
}
#ph-nav {
	color: #FAFCFE;
	background-color: #0072C6;
	position: relative;
	float: left;
	clear: none;
	width: 320px;
	height: 100%;
	overflow: hidden;
	font-family: Roboto, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 16px 0 0 16px;
}

#ph-nav .header,
#ph-nav .logo,
#ph-nav .text {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	line-height: normal;
}

#ph-nav .header {
	padding-top: 10px;
	padding-bottom: 10px;
}

#ph-nav .text {
	font-size: 21px;
}

#ph-nav .text small {
	font-size: .65em;
}

#ph-nav a,
#ph-nav a:hover {
	color: #FAFAFA;
}

#ph-nav a:hover {
	text-decoration: underline;
}

#ph-nav a.active:hover {
	text-decoration: none;
}

#ph-nav a:not(.active):active {
	color: #81B3D7;
}

.link .icon::before,
.ph-btn .icon::before {
	margin: 0;
	position: absolute;
	/*top: 50%;
	transform: translateY(-50%);*/
}

.ph-section .btn-title,
.ph-program .link-title,
.ph-program .btn-title {
	padding-left: 24px;
}

#ph-nav .btn-title {
	display: inline-block;
	text-align: center;
}

/***Special site links***/
#ph-site-pages {
	width: 100%;
	border: 1px solid #DB84E1;
	margin: 5px auto 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	display: none;
}

#ph-nav ul {
	margin: 0;
}

#ph-nav ul,
#ph-nav li {
	padding-left: 0;
}

#ph-nav li a {
	width: 100%;
	display: block;
	position: relative;
}

#ph-nav .ph-btn a:hover {
	text-decoration: none;
}

#ph-nav .ph-section p {
	color: #FFFFFF;
	font-size: 25px;
	margin: 0;
	line-height: 1.3;
}

#ph-nav .ph-section.link p a {
	padding: 15px 20px 15px 40px;
}

#ph-nav .ph-page,
#ph-nav .ph-rabbit-hole {
	background-color: #133E6F;
}

#ph-nav .ph-level-2 {
	font-size: 15px;
	padding: 5px 20px;
	line-height: 1.6;
}

#ph-nav .ph-level-3 {
	color: #FAFCFE;
	font-size: 13px;
	line-height: 1.6;
	padding: 7px 30px 7px 60px;
}

#ph-nav .ph-rabbit-hole {
	list-style-type: none;
	text-align: left;
	padding: 8px 0;
	margin: 0 60px;
	width: calc(100% - 120px);
}

#ph-nav .ph-level-4 {
	color: #FFFFFF;
	font-size: 13px;
	margin: 0 auto;
	padding: 3px 5px;
	max-width: 85%;
	line-height: 1.2;
}

#ph-nav .active {
	font-weight: bold;
	text-shadow: 0 1px 1px #222222;
}

#ph-nav .active > .place {
	position: absolute;
	right: 0; /*17px;*/
	display: inline-block;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #FAFCFE;
}

#ph-nav .ph-rabbit-hole .active .place,
#ph-nav .ph-sub-parent .active .place {
	display: none;
}

#ph-nav :hover > .place:after {
	text-decoration: none;
}

#ph-nav .active > .place:after {
	visibility: hidden;
	opacity: 0;
}

#ph-nav .ph-parent a .place:after {
	position: absolute;
	content: "\2235";
	right: 1em;
	text-shadow: 0 1px 0 #133E6F;
}

#ph-nav .ph-sub-parent {
	background: transparent;
}

#ph-nav .ph-sub-parent .active,
#ph-nav .ph-sub-parent a.active:hover {
	text-decoration: underline;
}

#ph-nav .ph-opened {
	display: initial;
}
