#ph-search-wrap {
	float: right;
	position: relative;
	right: 0;
	clear: none;
}

@media screen and (max-width: 768px) {
	#ph-search-wrap {
		position: relative;
		width: 80%;
		margin: 0 auto 20px;
	}
}
