/**
 * Thanks to codrops/tympanus.net for this one.
 * http://tympanus.net/codrops/2014/09/02/tab-styles-inspiration/
 */

#ph-tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */
#ph-tabs nav {
	text-align: center;
}

#ph-tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

#ph-tabs nav ul {
	max-width: 100%;
}

#ph-tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

#ph-tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.25;
}

#ph-tabs nav a span {
	vertical-align: middle;
	font-size: 0.675em;
}

#ph-tabs nav li.tab-current a {
	color: #74777B;
}

#ph-tabs nav a:focus,
#ph-tabs nav a:active {
	outline: none;
	color: #7014CC;
}

#ph-tabs .icon::before {
	display: block;
	margin: 0;
}

.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	#ph-tabs nav a.icon span {
		display: none;
	}

	#ph-tabs nav a:before {
		margin-right: 0;
	}
}

/*****************************/
/* Bar */
/*****************************/
/*
#ph-tabs-style-bar nav {
	background: rgba(40, 44, 42, 0.05);
}

#ph-tabs-style-bar nav ul {
	border: 4px solid transparent;
}

#ph-tabs-style-bar nav ul li a {
	margin: 0 2px;
	background-color: #F7F7F7;
	color: #74777B;
	transition: background-color 0.2s, color 0.2s;
}

#ph-tabs-style-bar nav ul li a:hover,
#ph-tabs-style-bar nav ul li a:focus {
	color: #2CC185;
}

#ph-tabs-style-bar nav ul li a span {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 0.6em;
}

#ph-tabs-style-bar nav ul li.tab-current a {
	background: #2CC185;
	color: #FFFFFF;
}*/

/*****************************/
/* Icon box */
/*****************************/

#ph-tabs-style-iconbox nav {
	background: rgba(255, 255, 255, 0.4);
}

#ph-tabs-style-iconbox nav ul li a {
	overflow: visible;
	padding: 1.5em 0;
	line-height: 1;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

#ph-tabs-style-iconbox nav ul li a span {
	/*font-weight: 700;*/
	font-size: 0.6em;
}

#ph-tabs-style-iconbox nav ul li.tab-current {
	z-index: 100;
}

#ph-tabs-style-iconbox nav ul li.tab-current a {
	background: #FFFFFF;
	box-shadow: -1px 0 0 #FFFFFF;
}

#ph-tabs-style-iconbox nav ul li.tab-current a::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-top-color: #FFFFFF;
	content: '';
	pointer-events: none;
}

#ph-tabs-style-iconbox nav ul li:first-child::before,
#ph-tabs-style-iconbox nav ul li::after {
	position: absolute;
	top: 20%;
	right: 0;
	z-index: -1;
	width: 1px;
	height: 60%;
	/*background: rgba(0,0,0,0.07);*/
	content: '';
}

#ph-tabs-style-iconbox nav ul li:first-child::before {
	right: auto;
	left: 0;
}

#ph-tabs-style-iconbox .icon::before {
	display: block;
	margin: 0 0 .25em;
}
