/**
 * Thanks to codrops/tympanus.net for this one.
 * http://tympanus.net/codrops/2014/09/02/tab-styles-inspiration/
 */

#ph-tabs {
	position: relative;
	overflow: hidden;
	margin:20px auto 0;
	width: 100%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */
#ph-tabs nav {
	text-align: center;
}

#ph-tabs nav ul {
	position: relative;
	/*display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;*/
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	/*-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;*/
	flex-flow: row wrap;
	/*-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;*/
	justify-content: center;
}

#ph-tabs nav ul {
	max-width: 100%;
}

#ph-tabs nav ul li {
	position: relative;
	/*z-index: 1;*/
	display: block;
	margin: 0;
	text-align: center;
	/*-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;*/
	flex: 1;
	transform: translate3d(0, 0, 0);
}

#ph-tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.25;
}

#ph-tabs nav a span {
	vertical-align: middle;
	font-size: 0.675em;
}

#ph-tabs nav .tab-current a {
	color: #777777; /* #777777;*/
	/*font-weight: 900;*/
}

/*#ph-tabs nav .tab-current .icon::before {
	font-weight: 900;
}*/

#ph-tabs nav a:focus,
#ph-tabs nav a:active {
	outline: none;
	/*color: #7014CC;*/
}

#ph-tabs nav li:not(.tab-current) a:active {
	font-weight: 700;
}

#ph-tabs .icon::before {
	display: block;
	margin: 0;
}

.no-js .content-wrap section {
	display: block;
	padding-bottom: 2em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	#ph-tabs nav a.icon span {
		display: none;
	}

	#ph-tabs nav a:before {
		margin-right: 0;
	}
}

/*
#ph-tabs nav {
	background: rgba(255, 255, 255, 0.4);
}
*/

#ph-tabs nav ul li a {
	overflow: visible;
	padding: 1em 0;
	line-height: 1;
	transition: color .05s ease-out;
}

#ph-tabs nav ul li a span {
	/*font-weight: 700;*/
	font-size: .6em;
}

/*#ph-tabs nav ul .tab-current {
	z-index: 1;
}*/

#ph-tabs nav ul li .ph-tab-box {
	border: 1px solid transparent;
	width: 100%;
	max-width: 120px;
	border-radius: 12px;
	margin-left: auto;
	margin-right: auto;
}

#ph-tabs nav ul .tab-current .ph-tab-box {
	/*background: #777777;
	box-shadow: -1px 0 0 #777777;*/
	border-color: #777777;
}

#ph-tabs nav ul .tab-current .ph-tab-box::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 10px;
	border-top-color: #777777;
	content: '';
	pointer-events: none;
}

/*#ph-tabs nav ul li:first-child::before,
#ph-tabs nav ul li::after {
	position: absolute;
	top: 20%;
	right: 0;
	z-index: -1;
	width: 1px;
	height: 60%;
	/!*background: rgba(0,0,0,0.07);*!/
	content: '';
}*/

#ph-tabs nav ul li:first-child::before {
	right: auto;
	left: 0;
}

#ph-tabs .icon::before {
	display: block;
	margin: 0 0 .25em;
}

.fullPage #ph-tabs .tab-empty {
	display: none;
}

#ph-tabs .tab-empty a,
#ph-tabs nav ul .tab-current.tab-empty a {
	color: #F62459;
}

#ph-tabs .tab-current.tab-empty .ph-tab-box {
	border-color: #F62459;
}

#ph-tabs .ph-tab-contributions {
}

#ph-tabs .ph-tab-contributions .ph-contrib-poc {
	opacity: 0;
	transition: opacity .075s ease-out;
	visibility: hidden;
	padding: 5px;
	font-size: .6em;
	color: #F62459;
	pointer-events: none;
}

/*#ph-tabs .ph-tab-contributions .ph-tab-box:hover + .ph-contrib-poc,*/
#ph-tabs .ph-tab-contributions.tab-current .ph-contrib-poc {
	opacity: 1;
	visibility: visible;
	transition: opacity .075s ease-out;
	pointer-events: auto;
}

#ph-tabs .ph-contrib-poc:hover {
	color: #000;
}
