/**
 * Thanks to codrops/tympanus.net for this one.
 * http://tympanus.net/codrops/2014/09/02/tab-styles-inspiration/
 */

#ph-tabs {
	position: relative;
	overflow: hidden;
	margin:0 auto;
	width: 60%;
	font-weight: 300;
	font-size: 1em;
	border: none;
}

.fullPage #ph-tabs {
	margin: 20px auto 0;
	width: 100%;
	font-size: 1.25em;
}

#ph-tabs nav {
	text-align: center;
	/*border-bottom: 1px solid #777777;*/
}

.fullPage #ph-tabs nav {
	/*border-bottom: none;*/
}

#ph-tabs nav ul {
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	flex-flow: row wrap;
	justify-content: center;
}

#ph-tabs nav ul {
	max-width: 100%;
}

#ph-tabs nav ul li {
	position: relative;
	display: block;
	transform: translateZ(0);
	margin: 0;
	text-align: center;
	flex: 1;
}

#ph-tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 1.25;
}

#ph-tabs nav a span {
	vertical-align: middle;
	font-size: .6em;
}

#ph-tabs nav .ph-tab-current:not(.ph-tab-empty) .ph-tab-box {
	background-color: #777777;
	font-weight: 700;
}

.fullPage #ph-tabs nav .ph-tab-current .ph-tab-box {
	background-color: transparent;
}

#ph-tabs nav .ph-tab-current a {
	color: #FFFFFF;
}

.fullPage #ph-tabs nav .ph-tab-current a {
	color: #777777;
}

#ph-tabs nav a:focus,
#ph-tabs nav a:active {
	outline: none;
	/*color: #7014CC;*/
}

#ph-tabs nav li:not(.ph-tab-current) a:active {
	font-weight: 700;
}

#ph-tabs .icon::before {
	display: block;
	margin: 0;
	font-size: 1.3em;
}

.no-flexbox nav ul {
	display: block;
}

.no-flexbox nav ul li {
	min-width: 15%;
	display: inline-block;
}

@media screen and (max-width: 58em) {
	#ph-tabs nav a.icon span {
		display: none;
	}

	#ph-tabs nav a:before {
		margin-right: 0;
	}
}

#ph-tabs nav ul li a {
	overflow: visible;
	padding: .75em 0;
	line-height: 1;
}

.fullPage #ph-tabs nav ul li a {
	padding: 1em 0;
}

#ph-tabs nav ul li .ph-tab-box {
	border: 1px solid transparent;
	width: 100%;
	max-width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.fullPage #ph-tabs nav ul li .ph-tab-box {
	border-width: 1px;
	max-width: 120px;
}

#ph-tabs nav ul .ph-tab-current .ph-tab-box {
	border-color: #777777;
}

#ph-tabs nav ul .ph-tab-current .ph-tab-box::after {
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -10px;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #777777;
	content: '';
	pointer-events: none;
}

#ph-tabs nav ul li:first-child::before {
	right: auto;
	left: 0;
}

#ph-tabs .icon::before {
	display: block;
	margin: 0 0 .25em;
}

.fullPage #ph-tabs .ph-tab-empty:not(.ph-tab-contributions) {
	display: none;
}

#ph-tabs .ph-tab-empty a,
#ph-tabs nav ul .ph-tab-current.ph-tab-empty a {
	color: #F62459;
}

#ph-tabs .ph-tab-current.ph-tab-empty .ph-tab-box {
	border-color: #F62459;
}

.fullPage #ph-tabs .ph-tab-contributions .ph-tab-box a {
	color: #0072C6;
}
.fullPage #ph-tabs .ph-tab-current.ph-tab-contributions .ph-tab-box {
	border-color: #777777;
}
.fullPage #ph-tabs .ph-tab-current.ph-tab-contributions .ph-tab-box a {
	color: #777777;
	font-weight: 700;
}
#ph-tabs .ph-tab-contributions a.ph-contrib-poc {
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	padding: 5px;
	font-size: .6em;
}

#ph-tabs .ph-tab-contributions.ph-tab-current a.ph-contrib-poc {
	pointer-events: auto;
	opacity: 1;
	visibility: visible;
	color: #00B16A;
}

#ph-tabs .ph-tab-contributions a.ph-contrib-poc:hover {
	/*color: #000;*/
	text-decoration: underline;
}
