#ph-tags {
	margin: 15px auto;
	padding: 15px 0;
	text-align: left;
	clear: both;
	max-width: 100%;
	overflow: hidden;
}

.fullPage #ph-tags {
	display: none;
}

#ph-tags > div {
	position: relative;
}

#ph-tags .ph-input-wrap {
	position: relative;
	text-align: left;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	max-width: 45%;
	width: 100%;
}

#ph-tags .ph-input-wrap .ph-add-tag {
	display: inline-block;
	width: calc(100% - 44px);
}

#ph-tags .locked .ph-input-wrap {
	pointer-events: none;
}

#ph-tags .unlocked .ph-input-wrap .ph-add-tag-btn {
	display: inline-block;
	vertical-align: middle;
	color: #00B16A;
	border-color: #00B16A;
	font-weight: bold;
}

#ph-tags .locked .ph-input-wrap .ph-add-tag-btn {
	display: inline-block;
	color: #454545;
	border-color: #454545;
	pointer-events: none;
	font-weight: bold;
}

#ph-tags .unlocked .ph-input-wrap .ph-add-tag-btn:hover {
	color: #2ECC71;
	border-color: #2ECC71;
}

#ph-tags .unlocked .ph-input-wrap .ph-add-tag-btn:active {
	color: #26A65B;
	border-color: #26A65B;
}

#ph-tags .ph-tag-container {
	position: relative;
	vertical-align: middle;
	height: 100%;
	max-width: 48%;
	width: 100%;
	float: right;
}

#ph-tags .ph-tag-wrapper {
	position: relative;
	opacity: 1;
	white-space: normal;
	float: right;
	overflow: hidden;
	padding: 2px 5px;
	margin: 2px;
	width: 100%;
	border: 1px solid transparent;
}

#ph-tags .locked .ph-tag-wrapper {
	opacity: .6;
	pointer-events: none;
	cursor: default;
	border-color:  #999999;
}

#ph-tags .ph-tag-container small {
	position: relative;
	float: left;
	clear: none;
	color: #333333;
	margin: 4px 7px 4px 0;
	border: 1px dashed #CCCCCC;
	padding: 3px 8px;
	cursor: pointer;
	font-weight: 300;
}

#ph-tags .locked small {
	border-color: transparent;
	/*margin-left: 0;*/
	/*padding: 3px 1px 3px;*/
}

#ph-tags .locked small::after {
	position: absolute;
	content: ', ';
	display: inline;
}

#ph-tags .locked small:last-of-type::after {
	content: '';
}

#ph-tags .unlocked small:hover {
	color: #F64747;
	border-color: #F1A9A0;
}

#ph-tags .unlocked small:hover::before {
	content: "\274C";
	position: absolute;
	display: inline-block;
	transform: translateX(-50%);
	color: #CF000F;
	left: 50%;
	top: -10px;
	font-size: .8em;
}

#ph-tags .icon-lock {
	/*display: inline-block;*/
	/*float: right;*/
	cursor: pointer;
	font-weight: 900;
	font-size: 1.3em;
	font-style: normal;
}

#ph-tags .icon-lock::before {
	cursor: pointer;
	opacity: 1;
	font-style: normal;
	font-weight: 900;
}

#ph-tags .unlocked .icon-lock::before {
	color: #2ECC71;
	opacity: 1;
	font-weight: 900;
}

#ph-tags .unlocked .icon-lock:hover::before {
	color: #454545;
	opacity: 1;
}

#ph-tags .locked .icon-lock::before {
	color: #454545;
	opacity: .5;
	font-weight: 900;
}

#ph-tags .unlocked .ph-tag-container:hover > .ph-tag-wrapper {
	border-color: gold;
}

#ph-tags:hover .locked .ph-tag-container > .icon-lock::before {
	color: gold;
}

#ph-tags .locked > .icon-lock:hover::before {
	color: #FFB000;
}

@media screen and (max-width: 1140px) {
	#ph-tags .ph-input-wrap,
	#ph-tags .ph-tag-container {
		float: none;
		width: 100%;
		max-width: 80%;
		display: block;
		margin: 20px auto;
	}
}
